ul {
    list-style: none;
    display: inline-flex;  
  }
  html {
    font-size: 18px;
  }
  body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
  }
  h1 {
    text-align: left;
  }
  h2 {
    width: 100%;
    background-color: brown;
    padding: 10px;
  }
  .join h3 {
    font-size: 2rem;
    color: red;
  }
  .nav {
    background-color: brown;
    position: relative;
    bottom: 10px;
    
    padding: 10px;
    }
    .nav1 {
    background-color: brown;
    position: relative;
    top: 10px;
    
    padding: 10px;
    }
    a {
      display: flex;
      text-decoration: none;
      color: aliceblue;
      padding-right: 25px;
   }
    a:hover {
      opacity: 60%;
    }
    .header {
      background-image: url("D:/2024/CODING/responsive club website/resource/images/banner.jpg");
      background-repeat: no-repeat;
      position: relative;
      bottom: 4rem;
      height: 700px;
      width: 100%;
      background-size: cover;
      background-position: center;
      }
    .header h1 {
      padding: 20px;
      padding-top: 4rem;
      font-size: 4rem;
      }
      .line {
        position: relative;
        top: 4rem;
        height: 20rem;
        padding: 3rem;  
      }
      aside {
        font-style: italic;
        padding: 1rem;
      }
      .line2 {
        position: relative;
        top: 6rem;
        height: 20rem;
        padding: 3rem;  
      }
      .members li {
        width: 200px;
        height: 250px;
        border: solid white 1px;
        margin: 15px;
        display: flex;
        align-items: end;
        justify-content: center;
      }
      .members ul {
        display: flex;
        flex-wrap: wrap;  
      }
      .members h3 {
        position: relative;
        top: 20px;
        width: 200px;
        background-color: brown;
        padding: 10px;
      }
      .Professor {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member11.jpg');
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
       .Tokyo {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member1.jpg');
        background-position-x: 10px;
        background-size: 220px;
        background-repeat: no-repeat;
       }
       .Berlin {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member5.jpg');
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
       }
        .Lisbon {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member2.jpg');
        background-position: center;
        background-size: cover;
        background-size: 300px;
        background-repeat: no-repeat;
       }
       .Nairobi {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member7.jpg');
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
       }
       .Denver {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member4.jpg');
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
       }
       .Stockholm {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member6.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       }
        .Julia {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member3.jpg');
        background-position: center;
        background-position-x: -200px;
        background-size: cover;
        background-repeat: no-repeat;
        }
        .Rio {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member12.jpg');
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
        .Helsinki {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member10.jpg');
        background-position-x: -320px;
        background-position-y: -20px;
        background-size: 600px;
        background-repeat: no-repeat;
        }
        .Palermo {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member8.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
        .Moscow {
        background-image: url('D:/2024/CODING/responsive club website/resource/images/member13.jpg');
        background-position-x: -200px;
        background-size: cover;
        background-repeat: no-repeat;
        }
  .galary img {
    object-fit: cover;
  width: 500px;
  height: 300px;
  margin: 15px;
    }
    .galary ul {
      justify-content: center;
        display: flex;
        flex-wrap: wrap;  
    }
  .join img {
    width: 600px;
  }
  @media screen and (max-width: 500px) {
    .header {
       height: 500px;
    }

    .header h1 {
        font-size: 3rem;
    }
    
    .members li {
        width: 250px;
        height: 200px;
         margin: 10px 0 10px 0;
      }
    
    .members h3 {
        width: 250px;
  }
   .members ul {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;  
   }
   .galary img {
  width: 60%;
  height: auto;
   }
   .join img {
    width: 80%; 
  }
  }